.container{
  margin: 0 auto;
}


.header__wrapper{
  display: flex;
  gap: 80px;

  .header__bottom{
  display: flex;

  img{
    max-width: 44px;
    max-height: 44px;
    margin: 51px 0 0 56px;
  }
  .header__main-c{
    position: absolute;
    margin: 59px 0 0 85px;
    font-size: 21px;
  }
    .header__aped{
      margin: 59px 0 0 0;
      font-size: 21px;
      //border-top: 3px  black solid;
    }
}
.header__top-half{
  display: flex;
  gap: 50px;

}

  .header__top{
    display: flex;
    margin: 51px 0 0 0;
    gap: 55px;

    .header__search{
      max-width: 19px;
      max-height: 19px;
    }

    input{
      border: 0;
      font-size: 21px;
    }


        .header__list1{
          display: flex;
          justify-content: space-evenly;
          gap: 114px;
        }

        a{
          text-decoration: none;
          color: black;
          font-size: 22px;
          padding-bottom: 5px;
        }

    .header__active{
      border-bottom: 3px black solid;
    }
      }

  .header__choise{
    max-width: 25px;
    max-height: 25px;
  }

  .header__list2{
    display: flex;
    gap: 30px;
  }
    }
