 @media (max-width: 1440px) {
   .header{
     &__wrapper{
       gap: 50px;
     }
     &__top{
       gap: 20px;

       a{
         font-size: 18px;
       }
     }
     &__list1{
       gap: 50px;
     }
   }
  }
  @media (max-width: 1024px) {
    .header{
      &__list1,
      &__list2 {
        display: none;
      }
    }
  }
@media ( max-width: 767px) {
 .header{
   &__wrapper{
     flex-direction: column;
     align-items: center;
     gap: 30px;

     .img{
       margin: 51px 0 0 0;
     }
   }
   &__top{
     margin: 0;
     gap: 40px;
     align-items: center;
   }
 }
}
 @media (max-width: 576px) {
   .header{
     &__top{
       gap: 10px;
     }
   }
 }
