.header{
  &__wrapper {
    display: flex;
    gap: 80px;

    .img {
      max-width: 93px;
      max-height: 44px;
      margin: 51px 0 0 56px;
    }
  }
  &__top-half {
    display: flex;
    gap: 50px;

  }

    &__top {
      display: flex;
      margin: 51px 0 0 0;
      gap: 55px;


      input {
        border: 0;
        font-size: 21px;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 22px;
        padding-bottom: 5px;
      }

    }

  &__search {
    max-width: 19px;
    max-height: 19px;
  }

  &__active {
    border-bottom: 3px black solid;
  }

  &__list1 {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
  }

    &__choise {
      max-width: 25px;
      max-height: 25px;
    }

    &__list2 {
      display: flex;
      gap: 30px;
    }
  }
